#web_bg {
    background: -webkit-linear-gradient(0deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%);
    background: -moz-linear-gradient(0deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%);
    background: -o-linear-gradient(0deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%);
    background: -ms-linear-gradient(0deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%);
    background: linear-gradient(90deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%);
}

/* 文章页背景 */
.layout>div:first-child:not(.recent-posts) {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255, 255, 255, 0.3);
}

/* 所有背景（包括首页卡片、文章页、页面页等） */
#recent-posts>.recent-post-item,
.layout>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255, 255, 255, 0.3);
}

#footer {
    -webkit-backdrop-filter: saturate(100%) blur(5px);
    backdrop-filter: saturate(100%) blur(5px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#footer,
#footer:before {
    background: hsla(0, 0%, 100%, .15)
}

#footer * {
    color: var(--font-color);
}

/*!Headerwave Start*/
:root {
    --wave-color1: rgba(255,255,255,0.7);
    --wave-color2: rgba(255,255,255,0.5);
    --wave-color3: rgba(255,255,255,0.3);
    --wave-color4: #fff;
}

.waves{
    position: absolute;
    width: 100%;
    height: 30px;
    min-height: 60px;
    max-height: 100px;
    bottom: 0px;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)infinite;
}
@keyframes move-forever{
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}
/* 暗色适配部分 */
[data-theme=dark] {
    --wave-color1: rgba(20,20,20,0.7);
    --wave-color2: rgba(20,20,20,0.5);
    --wave-color3: rgba(20,20,20,0.3);
    --wave-color4: #00000022;
}
/*!Headerwave End*/